body{
    background-image:url('http://deskbg.com/s3/wpp/29/29412/durarara-shizuo-heiwajima-desktop-background.png');
     background-size:100%;

}
.content {
  background-color: white;
}

.content p {
  color:black;
  font-family: 'Life Savers', cursive;
  font-size: 120%;
}

img {
  width:100%;
}
h1{
    font-size: 400%;
    font-family: 'Bungee Shade', cursive;
}
h2{
    font-family: 'Fontdiner Swanky', cursive;
    font-weight: 100;
    font-size: 130%;
    text-align: center;
    background-color: yellow;
}
h3{
    font-family: 'Fontdiner Swanky', cursive;
    font-weight: 100;
    font-size: 125%
}
ul{
  color:black;
  font-family: 'Life Savers', cursive;
  font-size: 120%;

}

